/* styles/main.css - CORREGIDO */
html.loading * {
  animation: none !important;
  transition: none !important;
}

@import url('./variables.css');
@import url('./animations.css');
@import url('./layout.css');
@import url('./rankings.css');
@import url('./tiers.css');
@import url('./overlay.css');
@import url('./flag-frames.css');
@import url('./overlay-hud.css');
@import url('./utilities.css');
@import url('./responsive.css');
@import url('./countryview.css');
@import url('./android-fixes.css')
